aiohttp
aiosignal
alembic
amqp
aniso8601
arabic-reshaper
asgiref
asn1crypto
async-timeout
attrs
beautifulsoup4
billiard
black
blis
boto3
botocore
Brotli
bson
catalogue
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
ConfigArgParse
coursera-dl
coverage
cryptography
cssselect2
cymem
dataclasses-json
distlib
dj-database-url
Django
django-appconf
django-browser-reload
django-contrib-postgres
django-cryptography
django-ninja
django-tailwind
dnspython
docopt
email-validator
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
exceptiongroup
Faker
filelock
Flask
Flask-Cors
Flask-RESTful
Flask-SQLAlchemy
Flask-WTF
fonttools
frozenlist
fsspec
greenlet
gunicorn
html5lib
huggingface-hub
idna
importlib-metadata
iniconfig
itsdangerous
Jinja2
jmespath
joblib
keyring
kombu
langchain
langcodes
langsmith
lxml
Mako
Markdown
markdown2
MarkupSafe
marshmallow
md2pdf
mistletoe
mpmath
multidict
murmurhash
mypy-extensions
mysql-connector-python
networkx
nltk
numexpr
numpy
openai
openapi-schema-pydantic
oscrypto
packaging
pandas
pathspec
pathy
pgvector
Pillow
platformdirs
pluggy
preshed 
prompt-toolkit 
protobuf 
psycopg2 
psycopg2-binary 
pyactiveresource 
pyasn1 
pycparser 
pycryptodome 
pydantic 
pydyf 
pyHanko 
pyhanko-certvalidator 
PyJWT 
pyparsing 
pypdf 
PyPDF4 
pyphen 
pypng 
pytest 
pytest-cov 
pytest-django 
pytest-pdb 
python-bidi 
python-dateutil 
python-docx 
python-dotenv 
python-pptx 
pytz 
pywin32-ctypes 
PyYAML 
qrcode 
redis 
regex 
reportlab 
requests 
s3transfer 
safetensors 
scikit-learn 
scipy 
sentence-transformers 
sentencepiece 
ShopifyAPI 
six 
smart-open 
soupsieve 
spacy 
spacy-legacy 
spacy-loggers 
spacytextblob 
SQLAlchemy 
sqlparse 
srsly 
svglib 
sympy 
tenacity 
textblob 
thinc 
threadpoolctl 
tiktoken 
tinycss2 
tokenizers 
tomli 
torch 
torchvision 
tqdm 
transformers 
typer 
typing-extensions 
typing-inspect 
tzdata 
tzlocal
uritools 
urllib3 
vine 
virtualenv 
wasabi 
wcwidth 
weasyprint 
webencodings 
Werkzeug 
whitenoise 
WTForms 
xhtml2pdf 
XlsxWriter 
yarl 
zipp 
zopfli 
