{% load static tailwind_tags %}
<!DOCTYPE html>
{% load static %}
<html lang="en" class="h-full">
<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <link rel="canonical" href="https://preline.co/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="a page for new Notepal users to signup">

  <meta name="twitter:site" content="@preline">
  <meta name="twitter:creator" content="@htmlstream">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Notepal signup">
  <meta name="twitter:description" content="This page allows new Notepal users to signup">


  <meta property="og:url" content="https://preline.co/">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Preline">
  <meta property="og:title" content="Notepal signup">
  <meta property="og:description" content="This page allows new Notepal users to signup">
  <!-- <meta property="og:image" content="../../assets/img/og-image.png"> -->
  
  <!-- Title -->
  <title>Notepal {{ title }}</title>

  <!-- Favicon -->
  <!-- <link rel="shortcut icon" href="../../favicon.ico"> -->

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  
  <!-- Algolia Search -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
  <!-- Algolia Search Override Style -->
  <link rel="stylesheet" href="../algolia.min.css">
  <!-- axios.min.js-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- Link your Tailwind CSS file -->
  {% tailwind_css %}
</head>

<body class="bg-black flex h-full pb-[60px]">
  
  {% block content %}
  {% endblock content %}
  <!-- JS Implementing Plugins -->
  <script src="{% static 'js/signup.js' %}"></script>
  <script src="{% static 'js/login.js' %}"></script>
  <script src="{% static 'node_modules/preline/dist/preline.js' %}"></script>
</body>
</html>
