{% extends "base.html" %}
{% block content %}
<!-- ========== MAIN CONTENT ========== -->
   <main id="content" role="main" class="relative max-w-3xl px-4 sm:px-6 lg:px-8 flex flex-col justify-center sm:items-center mx-auto w-full h-full before:absolute before:top-0 before:left-1/2 before:bg-[url('../svg/component/squared-bg-element-dark.svg')] before:bg-no-repeat before:bg-top before:w-full before:h-full before:-z-[1] before:transform before:-translate-x-1/2">
        <div class="text-center py-8 px-4 sm:px-6 lg:px-8">
          <h2 class="mt-1 sm:mt-3 text-4xl font-bold text-white sm:text-6xl">
            <span class="bg-clip-text bg-gradient-to-tr from-blue-600 to-purple-400 text-transparent font-poppins">Notepal.</span>
          </h2>
        
          <form id="login-form" method="post">
            {% csrf_token %}
            <div class="mt-8 space-y-4">
              <div>
                <label for="hs-cover-with-gradient-form-email-1" class="sr-only">Email address</label>
                <div class="relative">
                  <input type="email" id="hs-cover-with-gradient-form-email-1" class="py-3 ps-11 pe-4 block w-96 bg-white/[.03] border-white/20 text-white placeholder:text-white rounded-md text-sm focus:border-white/30 focus:ring-white/30 sm:p-4 sm:ps-11" placeholder="Email address">
                  <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none z-20 ps-4">
                    <svg class="h-4 w-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                    </svg>
                  </div>
                </div>
              </div>

              <!--- Password -->
                <div>
                    <label for="hs-cover-with-gradient-form-password-1" class="sr-only">Password</label>
                    <div class="relative">
                    <input type="password" id="hs-cover-with-gradient-form-password-1" class="py-3 ps-11 pe-4 block w-96 bg-white/[.03] border-white/20 text-white placeholder:text-white rounded-md text-sm focus:border-white/30 focus:ring-white/30 sm:p-4 sm:ps-11" placeholder="Password">
                    <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none z-20 ps-4">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4 text-gray-400">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                          </svg>
                          
                    </div>
                    </div>
                    <a class=" text-blue-400 text-sm ml-64" href="{% url 'forgot_password' %}">forgot password?</a>
                </div>
    
              <div class="grid w-96">
                <button type="submit" class="py-5 px-4 inline-flex justify-center items-center gap-2 rounded-md bg-white/10 border border-transparent font-medium text-white hover:bg-white/20 focus:outline-none focus:ring-2 focus:ring-white/30 transition-all text-sm sm:p-4">
                  Submit
                  <svg class="w-3 h-3" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                  </svg>
                </button>
                <p class="text-white">
                  Don't have account?   <a href="{% url 'signup' %}" class="text-gray hover:underline ml-1 hover:text-blue-400">Sign up</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </main>
      <!-- ========== END MAIN CONTENT ========== -->

{% endblock content %}